@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.custom-radius {
  border-radius: 31% 26% 56% 44% / 51% 31% 69% 49%;
}

.card-shadow {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.55) inset,
    0 -50px 20px 0 rgba(0, 0, 0, 0.55) inset;
}
