@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  @apply h-full bg-peach-cream-100;
}

.left-border-radius {
  border-radius: 31% 26% 56% 44% / 51% 31% 69% 49%;
}

.center-border-radius {
  border-radius: 31% 10% 50% 50% / 40% 33% 67% 60%;
}

.right-border-radius {
  border-radius: 42% 40% 30% 70% / 44% 52% 48% 56%;
}

.card-shadow {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.55) inset,
    0 -50px 20px 0 rgba(0, 0, 0, 0.55) inset;
}
