@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  @apply h-full bg-peach-cream-100;
}

.left-border-radius {
  border-radius: 31% 26% 56% 44% / 51% 31% 69% 49%;
}

.center-border-radius {
  border-radius: 31% 10% 50% 50% / 40% 33% 67% 60%;
}

.right-border-radius {
  border-radius: 42% 40% 30% 70% / 44% 52% 48% 56%;
}

.card-shadow {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.55) inset,
    0 -50px 20px 0 rgba(0, 0, 0, 0.55) inset;
}

/* Pagination*/

.item {
  @apply flex w-fit cursor-pointer rounded-full border border-transparent bg-white px-4 py-2 text-center text-base font-semibold uppercase tracking-wider text-slate-700 shadow-lg drop-shadow-lg transition duration-150 ease-in-out hover:bg-orange-400 hover:text-white hover:shadow-orange-300;
}

.container {
  @apply flex h-36 w-1/3 items-center justify-center space-x-4 font-medium;
}

.active {
  @apply bg-orange-400 shadow-orange-300;
}
